# Base de données
POSTGRES_USER=nutri
POSTGRES_PASSWORD=change_me_strong_password
POSTGRES_DB=nutrition

# Serveur
JWT_SECRET=change_me_very_long_random_secret
CORS_ORIGIN=https://your-public-domain.com

# Client
API_URL=http://server:3001
